@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    border: 1px solid red;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 72px;
    position: relative;
}

.navigation{
    display: flex;
    gap:31px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.18px;
    color: #222222;
    margin: 16.5px 189px auto 185px;
    box-sizing: border-box;
}

.navigation li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
    background-color: beige;

    
}

.header-element3 {
    display: flex;
    align-items: center;
}

.header-element3 h6{
    color: #000000;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    margin: auto auto auto 8px;
    
    
}
.header-element3 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #3F53D8;
    margin: auto 27px auto 14px;
    box-sizing: border-box;
}

.header-element3 button{
    box-sizing: border-box;
    height: 61px;
    width: 219px;
    border: 1px solid rgba(8, 8, 41, 0.2);
    border-radius: 14px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    background-color:  #F5F5F5;;
    
}

.block-1{
    margin: 70px 120px;
    display: flex;
    align-items: flex-end;
}

.block1-element1{
    width: 50%;
    margin-bottom: 30px;
}
.block1-element1 img{
    margin-bottom: -48px;
    margin-left: 34px;
}
.block-1 h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 63px;
    line-height: 79px;
    letter-spacing: 2.16px;
    color: #080829;
}

.block-1 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
    margin: 31px auto 43px auto;
}
.block-1 button{
    background: #3F53D8;
    border-radius: 14px;
    width:240px;
    height:59px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: none;
}

.block1-element2{
    width: 50%;
    position: relative;
    height: 622px;

}
.block1-element2-circle{
    width:16px;
    height:16px;
    background: #A259FF;
    position: absolute;
    border-radius: 10px;
    left:0;
    bottom: 230px;
}
.block1-element2-NeonCamera{
    position: absolute;
    height: 382px;
    border-radius: 16px;
    right: 80px;
    bottom: 200px;
}
.block1-element2-BigPerson{
    position: absolute;
    height: 401px;
    border-radius: 16px;
    right: 0;
    bottom:40px;
}
.block1-element2-ManageUser{
    position: absolute;
    height: 155px;
    border-radius: 16px;
    bottom: 0;
    left: 0;
}
.block1-element2-BlueCircle{
    position: absolute;
    height: 90px;
    border-radius: 0px;
    left: 0;
    top: 134px;
}
.block1-element2-RedCircle{
    position: absolute;
    height: 90px;
    border-radius: 0px;
    top:0;
    right:3.33%;

}
.block1-element3 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #080829;
}
.block1-element3{
    margin-top: 138px;
}
.block1-element4{
    display: flex;
    margin-bottom: 0;
    margin: 54px 120px;
    width: 84%;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;

}
.block2{
    display: flex;
    justify-content: center;
    margin: 70px 120px;

}
.block2-element1 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
    margin-top: 130px;

}
.block2-element1 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 28px;
}
.block2-element2{
    margin-top: 106px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.02px;
    color: #080829;
}
.block2-element2-1{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.block2-element2-2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 100px;
}

.block2-icons{
    width: 25%;
}
.block2-icons img{
    margin-bottom: 31px;
}
.block-3{
    margin: 70px 120px;
    display: flex;
    margin-top: 239px;
    justify-content: space-between;
}
.block3-element1{
    width: 640px;
    position: relative;
}
.block3-element1-img1{
    position: absolute;
    left: 48px;
    
}
.block3-element1-img2{
    position: absolute;
    top:0;
    left: 0;
    
}
.block3-element1-img3{
    position: absolute;
    right: 0;
    bottom: 0;
    top:293px;
}
.block3-element1 div{
    position: absolute;
    top:196px;
    right: 10px;
}



.block3-element2{
    width: 493px;
    margin-left: 128px;
}
.block3-element2 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    margin-bottom: 27px; 
}
.block3-element2 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    }

.block3-element2 button{
    background: #3F53D8;
    border-radius: 14px;
    width:174px;
    height:59px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    border: none;
    margin-top: 48px;
}
.block3-element2-p p {
    margin-left: 35px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #080829;
}
.block3-element2-p{
    margin-top:35px;
}

.block-4{
    display: flex;
    justify-content: space-between;
    margin: 295px 120px 180px 120px;
    height: 574px;
}
.block4-element1{
    position: relative;
    width: 414px;
}
.block4-element1 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
}
.block4-element1 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
}
.personInYellowCircle{
    margin-top: 44px;
    display: flex;
    gap:24px;
}
.personInYellowCircle p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.36px;
    color: #080829;
}
.block4-element1 button{
    width:174px;
    height: 59px;
    background: #3F53D8;
    border-radius: 14px;
    border: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-top: 48px;
}
.yellowCircle{
    background: #FFC123;
    width:16px;
    height:16px;
    border-radius: 10px;
    position: absolute;
    
}


.block4-element2{
    width: 624px;
    position: relative;
}
.powerful-insights{
    position: absolute;
    right: 0;
    bottom: 0;
    right: -30px;
}
.donut{
    position: absolute;
    top: -58px;
    left: -105px;
}
.yellowCircle2 {
    left:308px;
}


 .block-5{
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
}

.block5-element1{
    width: 676px;
    position: relative;
}
.AAA{
    position: absolute;
    right: 0;
    bottom: 42px;
}
.sideSettings{
    position: absolute;
    right: 38px;
    top: 63px;
}
.block5-element2{
    width: 432px;
    margin-top: 35px;
    position: relative;
} 
.block5-element2 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
}
.block5-element2 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 27px;
}
.block5-element2-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ipsum-4{
    object-position: -8px;
}

.block5-pirpleCircle{
    position: absolute;
    background: #A259FF;
    width:16px;
    height:16px;
    border-radius: 10px;
    right: 0;
    bottom: -39px;
}
.block-6{
    margin: 177px 120px;
}
.block-6 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829;
    text-align: center;
}
.block6-element2{
    display: flex;
    margin-top: 82px;
    justify-content: space-between;
}
.block6-element2 h5{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    letter-spacing: 0.56px;
    color: #080829;
    margin-top: 39px;
}
.block6-element2 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #545479;
    margin-top: 20px;
}

.block-7{
    margin: 192px 120px 198px 120px;
}
.block-7 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
}
.block7-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block7-element2{
    width: 726px;
    margin-left:137px;
}
.block7-stars{
    margin-top: 82px;
}
.block-7 h5{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.64px;
    color: #080829;
    margin-top: 34px;
}
.block-7 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.48px;
    color: #080829;
    margin-top: 34px;
}
.block7-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.block7-quotes{
    display: flex;
    position: relative;
    width:1035px;;
}
.block7-rightQuote{
    opacity: 0.2;
    position: absolute;
    bottom:108px;
    right: 0;
}
.block7-leftQuote{
    opacity: 0.2;
    position: absolute;
    left: 0;
    top:108px;
}
.block-8{
    margin:0 120px 175px 120px;
    display: flex;
    gap: 187px;
}
.block8-element1{
    width: 220px;
    display:flex ;
    align-items: center;
    gap: 24px;
}
.block8-element1 h5{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #080829;
}
.block8-element2{
    display: flex;
    gap:92px;
    width: 758px;
}
.block8-element2-cards {
    width: 211px;
}
.block8-element2-cards h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 1.44px;
    color: #080829;
}
.block8-element2-cards p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #545479;
    margin-top: 15px;
}
.block-9{
    margin: 0 120px 220px 120px;
    position: relative;
}
.block-9 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.44px;
    color: #080829;
}

.block9-element2{
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
    height: 90px;
}

.block9-element2 img:nth-child(odd), .block9-element3 img:nth-child(odd) {
    align-self: flex-start;
}

.block9-element2 img:nth-child(even), .block9-element3 img:nth-child(even) {
    align-self: flex-end;
}

.block9-element3{
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    height: 90px;
}
.block-9 h6{
    margin-bottom: 80px;
}
.block9-icons {
    position: relative;
    height: 381px;
    display: flex;
    flex-direction: column;
}
.block9-aquaCircle{
    background: #98F5EC;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    position: absolute;
    right: -48px;
    top: -57px;
}
.block-10{
    margin: 0 120px;
    padding-bottom: 179px;
    z-index: 2;
    background: white;
    position: relative;
}
.block-10 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: 1.44px;
    color: #080829; 
    text-align: center;
    margin-bottom: 86px;
}
.block10-element2{
    display: flex;
    gap:60px;
}
.block10-element2-card button{
    Width:113px;
    height: 34px;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.36px;
    color: #080829;
    border: none;
    margin-top: 31px ;

}
.block10-element2-card h5{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.52px;
    color: #080829;
    margin-top: 27px;
}
.block10-element2-card p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.36px;
    color: #080829;
}
.block10-blackCircle{
    width:5px;
    height:5px;
    background: #000000;
    margin: 5px 8px 0 8px;
} 
.block10-bottom{
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.block10-element2-card {
    width: 360px;
}
.block10-element2-card img{
    height: 251px;
    
}
.block10-branding{
    background: rgba(162, 89, 255, 0.3);
}
.block10-Business{
    background: #D9DEFF;
}
.block10-Startup{
    background: rgba(250, 91, 104, 0.3);
}
.block-11{
    width: 1440px;
    height:676px;
    background: #080829;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 107px;
    position: relative;
}
.block-11 h6{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 2.16px;
    color: #FFFFFF;
}
.block-11 button{
    background: #3F53D8;
    border-radius: 14px;
    border: none;
    width:240px;
    height:59px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color:  #FFFFFF;
}
.block11-bottom{
    position: relative;
    width: 455px;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.arrowWhite{
    position: absolute;
    top: 0;
    right: -105px;
    
}
.piece-of-card{
    position: absolute;
    left: 0;
    top: 0;
}
.piece-of-card2{
    position: absolute;
    right: 0;
    bottom: 0;
}
.block11-yellowCircle{
    background: #FFC123;
    width:16px;
    height:16px;
    border-radius:10px;
    left: 144px;
    bottom: 140px;
    position: absolute;
}
.block11-aquaCircle{
    background: #98F5EC;
    width:70px;
    height:70px;
    border-radius: 35px;
    position: absolute;
    right: 144px;
    top: -45px;
    z-index: 1;
}
.block-12{
    margin: 0 120px 62px 120px;
    position: relative;
}
.block12-element1{
    display: flex;
    justify-content: space-between;
}
.block12-element1 li{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #080829;
    margin-bottom: 16px;
}
.block12-element1 li:first-child{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-transform: uppercase;
    color: #080829;
}
.block12-element1-right{
    display: flex;
    justify-content: space-between;
    width: 724px;
}
.block12-element2{
    display: flex;
    justify-content: space-between;
}
.block12-element2 p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 89px;
}
.block12-postIcon{
    margin-right: 14px;
    
}
.block12-telephone{
    margin-right: 14px;
}
.block12-planet{
    margin-right: 14px;
}
.block12-socialIcons{
    display: flex;
    gap:29.1px;
    margin-top:37px ;
}
.block12-Icon{
    display: flex;
    align-items: center;
}
.block12-greenCircle{
    background: #2CAE76;
    opacity: 0.8;
    width:18px;
    height:18px;
    position: absolute;
    border-radius: 10px;
    left: 180px;
    bottom: 190px;
}