@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.globalButton{
    border: none;
    width:184px;
    height:48px;
    background: #6C5CE7;
    border-radius: 16px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px; 
    color: #FFFFFF;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    margin: 20px;   
    line-height: 32px;
    justify-content: space-between;
    cursor: pointer;

}

.button-arrowRight{
    padding: 8px 6px 8px 16px;
}
.button-lupa{
    padding: 8px 16px 8px 6px;
}

.box{
    display: flex;
    margin: 20px;
}
 .awardButton{
    background: #FDCB6E;
    border-radius: 999px;
    width:313px;
    height:48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    border: none;
    color: #2D3436;
    padding: 8px 16px 8px 6px;
    margin: 30px;
    justify-content: space-between;
 }

 .betaButton{
    width:64px;
    height:32px;
    padding: 8px;
    margin: 20px;
    background-color: #FFFFFF;
    color:#2D3436;
    border-radius: 16px;
    border: 1px solid #2D3436;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2.5px ;

 }
 .alphaButton{
    margin: 20px;
    background: #6C5CE7;
    border-radius: 16px;
    width:80px;
    height:32px;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding:8px ;


 }
 .gammaButton{
    margin: 20px;
    background: #6C5CE7;
    border-radius: 16px;
    width:81px;
    height:32px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 8px;
    border: none;
 }
 .newButton{
    margin: 20px;
    background: #FDCB6E;
    border-radius: 999px;
    width:58px;
    height:32px;
    border: none;

    font-family: 'Inter';
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #6C5CE7;
    padding: 8px;

 }
 .lost-arrowRight{
    margin: 7.66px;
    background: #FDCB6E;
    border-radius: 24px;
    transform: rotate(-45deg);
    width:66px;
    height:66px;
    border: none;
 }
.yellow-arrowRight{
    margin: 7.66px;
    width:42px;
    height:42px;
    background: #6C5CE7;
    border-radius: 15.4839px;
    transform: rotate(-45deg);
    border: none;


}

.img-arrowRight{
    transform: rotate(45deg);  
}
